@page
@model PRN221_Assignment_Razor.Pages.CarInfoManageModel
@{
}
@using CarRental.Models

<h1>Car Information Manager</h1>

<form method="post">

    <div class="form-group">
        <label>Car ID</label>
        <select asp-for="SelectedCarId" class="form-control"
                asp-items="Model.CarsList.Select(x => new SelectListItem { Value = x.CarId.ToString(), Text = x.CarId.ToString() })">
        </select>
    </div>

    <div class="form-group">
        <label>Name</label>
        <input asp-for="CarName" class="form-control" />
    </div>

    <div class="form-group">
        <label>Description</label>
        <textarea asp-for="CarDescription" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label>Number of Doors</label>
        <input asp-for="NumberOfDoors" class="form-control" />
    </div>

    <div class="form-group">
        <label>Seat Capacity</label>
        <input asp-for="SeatingCapacity" class="form-control" />
    </div>

    <div class="form-group">
        <label>Fuel Type</label>
        <input asp-for="FuelType" class="form-control" />
    </div>

    <div class="form-group">
        <label>Manufacturer ID</label>
        <input asp-for="ManufacturerId" class="form-control" />
    </div>

    <div class="form-group">
        <label>Supplier ID</label>
        <input asp-for="SupplierId" class="form-control" />
    </div>

    <div class="form-group">
        <label>Year</label>
        <input asp-for="Year" class="form-control" />
    </div>

    <div class="form-group">
        <label>Status</label>
        <input asp-for="CarStatus" class="form-control" />
    </div>

    <div class="form-group">
        <label>Rent Per Day</label>
        <input asp-for="CarRentingPricePerDay" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Update</button>

    <a asp-page="/CreateCar" class="btn btn-success">Create</a>

    <button asp-page-handler="Delete" class="btn btn-danger">
        Delete
    </button>

</form>

<table class="table table-striped" id="carsTable">

    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Number of Doors</th>
            <th>Seat Capacity</th>
            <th>Fuel Type</th>
            <th>Manufacturer ID</th>
            <th>Supplier ID</th>
            <th>Year</th>
            <th>Status</th>
            <th>Rent Per Day</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var car in Model.CarsList)
        {
            <tr>
                <td>
                    @car.CarId
                </td>
                <td>
                    @car.CarName
                </td>
                <td>
                    @car.CarDescription
                </td>
                <td>
                    @car.NumberOfDoors
                </td>
                <td>
                    @car.SeatingCapacity
                </td>
                <td>
                    @car.FuelType
                </td>
                <td>
                    @car.ManufacturerId
                </td>
                <td>
                    @car.SupplierId
                </td>
                <td>
                    @car.Year
                </td>
                <td>
                    @car.CarStatus
                </td>
                <td>
                    @car.CarRentingPricePerDay
                </td>
            </tr>
        }
    </tbody>

</table>

@section Scripts {

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#carsTable').DataTable();
        });
    </script>

}
